<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kWizParallerDataEmailField</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,360},{200,30}}</string>
		</dict>
		<key>5</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,160},{200,30}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconLogoIcon</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{30,30}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{10,10},{30,30}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{161.500000,541.500000},{30.000000,30.000000}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{300,50},{30,30}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{120,100},{80,80}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconLogoWord</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{151.000000,115.500000},{51.000000,60.000000}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{10,10},{30,30}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{223.000000,193.500000},{30.000000,30.000000}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{300,50},{30,30}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{80,200},{180,60}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataLoginBtn</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{400,350},{100,30}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,440},{100,30}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataPasswordField</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,400},{200,30}}</string>
		</dict>
		<key>5</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,30}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataRigsterBtn</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{400,350},{100,30}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{160,440},{100,30}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconBackBrain</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconBackTree</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconBackBox</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconBackShare</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconItem0</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconItem1</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconItem2</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconItem3</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconItem4</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconItem5</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
	<key>kWizParallerDataIconItem6</key>
	<dict>
		<key>0</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>1</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>kWizParallerAlpha</key>
			<integer>1</integer>
			<key>kWizParallerRect</key>
			<string>{{60,200},{200,250}}</string>
		</dict>
		<key>kWizParallerChangedParamers</key>
		<array>
			<string>kWizParallerRect</string>
			<string>kWizParallerAlpha</string>
		</array>
	</dict>
</dict>
</plist>
